<template>
  <post-form
    :form="form"
    v-on:save="save"
  ></post-form>
</template>
<script>
import PostForm from "../../components/PostForm";

export default {
  components: {
    PostForm
  },
  data() {
    return {
      form: new Form({
        title: "",
        sub_title: "",
        description: "",
        tag_names: ""
      })
    };
  },
  methods: {
    save() {
      this.form.post("/api/posts").then(response => {
        router.push("/myPosts");
      });
    }
  }
};
</script>
