<template>
  <router-link :to="{ name: 'showPost', params: {id: post.id}}" v-bind:id="post.id" class="no-underline appearance-none outline-none">
    <div
      class="w-full flex justify-between mb-4 pb-2"
    >
      <div class="rounded-b flex flex-col leading-normal">
        <div class="mb-8 w-full">
          <div class="text-black font-bold text-xl mb-2">{{ post.title }}</div>
          <p class="text-grey-darker text-base">{{ post.sub_title }}</p>
        </div>
        <div class="text-sm">
          <p class="text-black leading-none">{{ post.user.name }}</p>
          <p class="text-grey-dark">{{ datetimeToReadable(post.updated_at) }}</p>
        </div>
      </div>
      <div
        class="h-48 lg:h-auto w-48 flex-none bg-cover text-center overflow-hidden"
        v-html="postPhoto()"
      >
      </div>
    </div>
  </router-link>
</template>
<script>
export default {
  props: ["post", "url"],
  methods: {
    postPhoto: function() {
      let el = document.createElement("p");
      el.innerHTML = this.post.description;

      if (el.querySelector("img") !== null) {
        return el.querySelector("img").outerHTML;
      } else {
        el = document.createElement("img");
        el.src = "/storage/noimage.png";
        return el.outerHTML;
      }
    },
    datetimeToReadable: function(date) {
      return moment(date, "YYYY-MM-DD h:mm:ss").fromNow();
    }
  }
};
</script>