<template>
  <div class="container mx-auto font-sans">
    <div class="container h-14 fixed pin-t bg-white z-100 px-2">
      <top-navigation></top-navigation>
    </div>
    <div class="container mt-16 px-2">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
import TopNavigation from "../components/TopNavigation";

export default {
  components: { TopNavigation }
};
</script>